@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
  height: 100vh;
  background-color: #FFEDED ;
 
}

a {
  text-decoration: none;
}